**/LEXER
**/PARSER
**/COMPILER

**/*.class
**/Lexer.java
**/Parser.java
**/TokenNames.java

**/FOLDER_5_OUTPUT/*
**/Lexer.c
**/Output.txt
**/MIPS.txt
**/MIPS_OUTPUT.txt

**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex.gz
**/*.toc

src/ex-ir/.DS_Store
src/.DS_Store
exercises/ex-ir/ex4-dfa.pdf
exercises/ex-ir/ex4-dfa.fls
exercises/ex-ir/ex4-dfa.fdb_latexmk
exercises/ex-ir/ex4-dfa.blg
exercises/ex-ir/ex4-dfa.bbl
